<div id="content pt-5">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row" style="color:black;">
                            <div class="col-9">
                                <h5 class="pt-1">Rahul Aher's bookings</h5>
                            </div>
                            <div class="col-3">
                                <div class="row text-center">
                                    <div class="pr-3 pt-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                        </svg>
                                    </div>
                                    <p class="pt-1">Week view</p>
                                    <div class="pl-3 pt-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </div>
                                    <p class="pl-3 pt-1">Today</p>
                                </div>
                            </div>                        
                        </div>
                    </div>
                   
                    <div class="card-header" style="background-color: white;">
                        <h5 class="card-title text-center pt-1" >Today - Wed, 10 February 2021 </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Resource</th>
                                <th scope="col">Time</th>
                                <th scope="col">Project/Details</th>
                                <th scope="col">Clients</th>
                                <th scope="col">Clients</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-active">
                                <th scope="row">
                                    <span class="mr-1">
                                        <img class="user-img" src="{{photoURL || '../../../../assets/original.png'}}" alt="" >
                                    </span>
                                Rahul Aher</th>
                                <td>4h</td>
                                <td class="details">
                                    <span class="project">Salesforce SKO 2021 Customiza...</span>
                                    <span class="project-code"> (CX01)</span>
                                    <div class="details-wrap" title="Microsoft ITO Phase 3 (MI69)">
                                        <small>content updates</small>
                                    </div>
                                </td>
                                <td>
                                    <b>BTS</b>
                                </td>
                                <td>Divya Nair</td>
                              </tr>
                              <tr>
                                <th scope="row">
                                    <span class="mr-1">
                                        <img class="user-img" src="{{photoURL || '../../../../assets/original.png'}}" alt="" >
                                    </span>
                                Rahul Aher</th>
                                <td>4h</td>
                                <td class="details">
                                    <span class="project">Microsoft ITO Phase 3</span>
                                    <span class="project-code"> (MI69)</span>
                                    <div class="details-wrap" title="MSFT Phase 3">
                                        <small>MSFT Phase 3</small>
                                    </div>
                                </td>
                                <td>
                                    <b>Microsoft</b>
                                </td>
                                <td>Kinjal Gadani</td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>