<!-- <div class="control-section">
    <div class="col-lg-12 content-wrapper">

        <ejs-schedule id="schedule" 
        #scheduleObj width='100%' 
        cssClass='timeline-resource-grouping' 
        height='100%' 
        [selectedDate]="selectedDate" 
        [currentView]="currentView" 
        [group]="group" 
        [eventSettings]="eventSettings" 
        (created)='onCreate()' 
        (dataBinding)="onDataBinding()"
        (actionBegin)="onActionBegin($event)" 
        (dataBound)="onDataBound()" 
        (actionComplete)="onActionComplete($event)" 
        (renderCell)="onRenderCell($event)">
            <e-resources>
                <e-resource 
                field='ProjectId' 
                title='Choose Project' 
                [dataSource]='projectDataSource' 
                [allowMultiple]='allowMultiple' 
                name='Projects' 
                textField='text' 
                idField='id' 
                colorField='color' 
                groupIDField='HospitalGroupId'>
                </e-resource>
                <e-resource 
                field='TaskId' 
                title='Category' 
                [dataSource]='categoryDataSource' 
                [allowMultiple]='allowMultiple' 
                name='Categories' 
                textField='text' 
                idField='id' 
                colorField='color' 
                groupIDField='DoctorGroupId' 
                startHourField='startHour' 
                endHourField='endHour'>
                </e-resource>
            </e-resources>
            <e-views>
                <e-view option="TimelineDay"></e-view>
                <e-view option="TimelineWeek" ></e-view>
                <e-view option="TimelineWorkWeek"></e-view>
                <e-view option="TimelineMonth" ></e-view>
                <e-view option="Agenda"></e-view>
            </e-views>
        </ejs-schedule>
    </div>
</div> -->

<div class="control-section">
    <ejs-schedule cssClass='schedule-group-editing' width='100%' height='100%'  [group]="group" [selectedDate]="selectedDate"
        [eventSettings]="eventSettings" [currentView]="currentView">
        <ng-template #resourceHeaderTemplate let-data>
            <div class='template-wrap' style="height: 200px">
                <div class="resource-image {{getEmployeeImage(data)}}"></div>
                <div class="resource-details">
                    <div class="resource-name">{{getEmployeeName(data)}}</div>
                    <div class="resource-designation">{{getEmployeeDesignation(data)}}</div>
                </div>
            </div>
        </ng-template>
        <e-views>
            <e-view option="Day"></e-view>
            <e-view option="Week"></e-view>
            <e-view option="WorkWeek"></e-view>
            <e-view option="Month">
                <ng-template #eventTemplate let-data>
                    <div class="subject">{{data.Subject}}</div>
                </ng-template>
            </e-view>
            <e-view option="TimelineWeek"></e-view>
            <e-view option="TimelineWorkWeek"></e-view>
            <e-view option="TimelineMonth" ></e-view>
            <e-view option="Agenda" height="100%"></e-view>
        </e-views>
        <e-resources>
            <e-resource field='ConferenceId' title='Attendees' name='Conferences' [allowMultiple]='allowMultiple' [dataSource]='resourceDataSource'
                textField='Text' idField='Id' colorField='Color'>
            </e-resource>
        </e-resources>
    </ejs-schedule>
  </div>
  
  