<div id="content pt-5">
    <div class="container pt-4">
        <div class="border mt-5 p-2" *ngFor="let r of roles">
            <div class="role-heading p-2 card-header">
                <h5 class="text-center">{{r.role}}</h5>
            </div>

            <div class="row">
                <div class="col-3 p-3"  *ngFor="let resource of r.resource"  data-toggle="modal" data-target=".bd-example-modal-lg" (click)='modePopUp(resource)'>
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style='border-left: solid 4px' [style.border-color]="resource.color">
                        <div class="row">
                            <div class="col-4 p-2 pl-4" style="background-color: rgb(0 0 0 / 3%);">
                                <span class="mr-1">
                                    <img class="user-img" src="{{photoURL || '../../../../assets/original.png'}}" alt="" >
                                </span>    
                            </div>                    
                            <div class="col-8 p-2 pt-1">
                                <strong>{{resource.text}}</strong>
                                <br>
                                <small>{{resource.role}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-1 mr-5" >
                                <span class="mr-1">
                                    <img class="user-img" src="{{photoURL || '../../../../assets/original.png'}}" alt="" style="max-height: 80px; border-radius: 40px;" >
                                </span>
                            </div>
                            <div class="col-10">
                                <strong>{{currentResource.text}}</strong>
                                <br>
                                <small>{{currentResource.role}}</small>
                                <br>
                                <small><b>Last login:</b> 10 Feb 2021, 08:00 PM</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#normalActivity">Normal Activity</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active show pt-3" id="general">
                                <span><strong>Job Title:</strong> {{currentResource.role}}</span><br>
                                <span><strong>Permissions:</strong> Custom</span><br>
                                <span><strong>Time Zone:</strong> (GMT+5:30) Mumbai</span><br>
                                <span><strong>Phone:</strong></span><br>
                                <span><strong>Contractor/Employee:</strong> Employee</span><br>
                                <span><strong>Department:</strong> Production</span><br>
                                <span><strong>Resource Type:</strong> Isomer | Pulse</span><br>
                                <span><strong>Skills:</strong></span><br>
                                <span><strong>Bookable:</strong> Yes</span><br>
                                <span><strong>Notes:</strong></span><br>
                            </div>
                            <div class="tab-pane fade pt-1" id="normalActivity">
                                <div class="weekly_total p-2">Weekly total: 40h</div>
                                <table class="availability_table table table-compact pt-3">
                                    <thead>
                                        <tr>
                                            <th width="120">MON</th>
                                            <th width="120">TUE</th>
                                            <th width="120">WED</th>
                                            <th width="120">THU</th>
                                            <th width="120">FRI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="Monday">9am - 1pm<br />2pm - 6pm</td>
                                            <td id="Tuesday">9am - 1pm<br />2pm - 6pm</td>
                                            <td id="Wednesday">9am - 1pm<br />2pm - 6pm</td>
                                            <td id="Thursday">9am - 1pm<br />2pm - 6pm</td>
                                            <td id="Friday">9am - 1pm<br />2pm - 6pm</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="daily_total">
                                            <td>Total: 8h</td>
                                            <td>Total: 8h</td>
                                            <td>Total: 8h</td>
                                            <td>Total: 8h</td>
                                            <td>Total: 8h</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>