<div id="content pt-5">
    <div class="container pt-4">
        <div class="row">
            <div class="col-3 p-2" *ngFor="let item of list" >
                <div class="toast show p-2" role="alert" aria-live="assertive" aria-atomic="true" style="border-left: solid 4px orange;">
                    <div class="row">               
                        <div class="col-12 pt-1">
                            <strong>Microsoft ITO Phase 3</strong>
                            <br>
                            <small>(X016)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>