<div >
    <!-- Page Wrapper -->
    <div id="wrapper" >
        
        <!-- Nav bar -->
        <app-side-nav style="width: 12%; position:fixed;" ></app-side-nav>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-top-nav></app-top-nav>

                <div *ngIf="isOpen">
                    <app-dashboard></app-dashboard>
                </div>

                <div  *ngIf="componentName === 'user'">
                    <app-create-user></app-create-user>
                </div>

                <div>
                    <app-create-allocation></app-create-allocation>
                </div>

                <div>
                    <app-create-client></app-create-client>
                </div>

                <div>
                    <app-create-project></app-create-project>
                </div>

                <div>
                    <app-create-product-category></app-create-product-category>
                </div>

                <div>
                    <app-create-resource-type></app-create-resource-type>
                </div>

                <div>
                    <app-create-department></app-create-department>
                </div>

                <div>
                    <app-create-job-title></app-create-job-title>
                </div>

            </div>
        </div>
    </div>
</div>